.search-title_to_page{
    font-family: 'Noto Serif', serif;
    color: 	#008080;
    font-weight: bold;
    font-size: 70px;
}
.search-main__page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
